:root {
    --back-button-shadow:
    0 0 8px rgba(134, 16, 16, 0.5),
    0 0 16px rgba(134, 16, 16, 0.6),
    0 0 24px rgba(134, 16, 16, 0.7);

    --hover-back-button:#520a0a;
}

* {
    margin: 0;
    padding: 0px;
}


.top-nav-bar {
    background-color: #1A1E29;
    overflow: hidden;
    font-style: "sans-serif";
    height: 80px;
}

.top-nav-bar a {
    float: right;
    color: rgb(69, 68, 68);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: "Lexend Tera", sans-serif;
    font-size: 20px;
    margin-right: 0;
    color: white;
}

.icon img {
    margin-top: 5px;
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 2%;
}

.icon h4 {
    position: absolute;
    margin-top: 2%;
    margin-left: 7%;
    font-family: "Lexend Tera", sans-serif;
    color: white;

}

a {
    text-decoration: none;
}

#back_button {
    font-family: "IBM Plex Mono", monospace;
    font-size: 15px;
    padding: 10px 20px;
    border: solid 0px;
    background-color: #861010;
    color: white;
    border-radius: 50px;
    transition: all 0.3s ease;
}

#back_button:hover {
    transform: translateY(-3px);
    cursor: pointer;
    font-weight: bold;
    background-color: var(--hover-back-button);
    box-shadow: var(--back-button-shadow);
}

body {
    background-color: #1A2235;
}

.thank-you-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.thank-you-border {
    margin-top: 4.5%;
    border: solid 0px;
    width: 600px;
    background-color: #132D46;
    border-radius: 20px;
    box-shadow: 0 0 50px #01C38E;
    padding: 40px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thank-you-label {
    font-family: "Lexend Tera", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 2em;
}

p {
    margin-top: 5%;
    color: #e0e0e0;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.15rem;
    line-height: 1.7;
    letter-spacing: 0.01em;
    text-align: left;
    padding: 0 10px;
    margin-bottom: 2%;
}

@media (max-width: 600px) {
    .thank-you-border {
        width: 90%;
        margin-bottom: 3%;
    }

    .icon h4 {
        margin-top: 5%;
        margin-left: 15%;
    }
}