:root {
    --container: #141B2A;
    --bg-color: #1A1E29;
    --text: #FFF;
    --form-bg: #0F2138;
    --accent: #01C38E;
    --danger: #F65354;
    --shadows: 0 0 20px rgba(0, 223, 154, 0.3),
                0 0 80px rgba(0, 223, 154, 0.4);
    --dark-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    --highlight: #007bff;
    --button-shadow: 0 0 8px rgba(0, 223, 154, 0.5),
           0 0 16px rgba(0, 223, 154, 0.6),
           0 0 24px rgba(0, 223, 154, 0.7);
    --card: #041a2f;
    --hover-button: #0b3f34;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #041524;
}

.top-nav-bar {
    background-color: #1A1E29;
    overflow: hidden;
    font-style: "sans-serif";
}

.top-nav-bar a {
    float: right;
    color: rgb(69, 68, 68);
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
    font-family: "Lexend Tera", sans-serif;
    font-size: 15px;
    margin-right: 0;
    color: white;
    transition: all 0.3s ease;
}

.contact:hover, .about:hover, .home:hover {
    transform: translateY(-3px);
    color: var(--accent);
    border-bottom: 2px solid;
}

.icon img {
    margin-top: 5px;
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 2%;
}

.icon h4 {
    position: absolute;
    margin-top: 1.5%;
    margin-left: 7%;
    font-family: "Lexend Tera", sans-serif;
    color: white;

}

a {
    text-decoration: none;
}

#logout_button {
    font-family: "IBM Plex Mono", monospace;
    font-size: 15px;
    padding: 7px;
    width: 100px;
    border: solid 0px;
    background-color: #01C38E;
    color: white;
    border-radius: 50px;
    margin-top: -10%;
}

#logout_button:hover {
    font-weight: bold;
    cursor: pointer;
    background-color: var(--hover-button);
    box-shadow: var(--button-shadow);
    outline: #017A5E;
    transition: all 0.3s ease;
}

.account-details-border {
    margin-left: 3%;
    margin-top: 1%;
    border: solid 0px;
    border-radius: 15px;
    background-color: #041a2f;
    width: 94%;
    height: 350px;
    box-shadow: var(--card);
    position: relative; 
    box-shadow: inset 0 0 50px rgba(30, 70, 130, 0.7);
    transition: all 0.3s ease;
}

.recent-transaction-container {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
}

.bottom-boxes {
    display: flex;
    justify-content: space-between;
}

.recent-transaction-border,
.bank-services-border {
    border: solid 0px;
    border-radius: 15px;
    background-color: var(--card);
    box-shadow: inset 0 0 50px rgba(30, 70, 130, 0.7);
    width: 49%;
    transition: all 0.3s ease;
    padding-bottom: 4%;
}

.recent-transaction-border:hover,
.bank-services-border:hover, .account-details-border:hover {
    transform: scale(1.01);
}

.account-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    margin-left: 3%;
}

.account-details h4 {
    font-family: "Lexend Tera", sans-serif;
    color: white;
    margin: 0;
    padding: 0 10px;
    font-weight: normal;
    font-size: 20px;
}

.account-details h1 {
    font-family: "Lexend Tera", sans-serif;
    color: white;
    padding: 0 10px;
    margin-top: 7%; 
    font-size: 30px;
}

.account-details-border {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
    flex-wrap: wrap;
}

.balance-details h1 {
    font-family: "Lexend Tera", sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.balance-details h3 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: normal;
    color: white;
    font-size: 60px;
}

.recent-transaction-details {
    padding: 20px 30px;
    font-family: "Lexend Tera", sans-serif;
    color: white;
}

.recent-transaction-details h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10%;
    margin-top: 5%;
    margin-left: 13%;
}

.transaction-label {
    font-size: 1rem;
    font-weight: normal;
}

.transaction-amount {
    font-size: 1rem;
    font-weight: normal;
}

.bank-service {
    font-size: 1.8rem;
    text-align: center;
    font-family: "Lexend Tera", sans-serif;
    margin-top: 2%;
    color: white;
}

.bank-service-details {
    margin-top: 7%;
}

.transfer-funds-internal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transfer-funds-external {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transfer-funds-internal button {
    font-family: "Lexend Tera", sans-serif;
    background-color: #01C38E;
    margin-top: 5%;
    padding: 10px;
    width: 400px;
    color: white;
    font-size: 20px;
    border: solid 0px;
    border-radius: 10px;
    cursor: pointer;
}

.deposit-funds {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deposit-funds button {
    font-family: "Lexend Tera", sans-serif;
    background-color: #01C38E;
    margin-top: 5%;
    padding: 10px;
    width: 400px;
    color: white;
    font-size: 20px;
    border: solid 0px;
    border-radius: 10px;
    cursor: pointer;
}

.transfer-funds-internal button:hover, .transfer-funds-external button:hover, 
.deposit-funds button:hover, #history_button:hover {
    transform: translateY(-3px);
    background-color: #0b3f34;
    font-weight: bold;
    box-shadow: var(--button-shadow);
    outline: #017A5E;
    transition: all 0.3s ease;
}

.transfer-funds-external button {
    font-family: "Lexend Tera", sans-serif;
    background-color: #01C38E;
    margin-top: 5%;
    padding: 10px;
    width: 400px;
    color: white;
    font-size: 20px;
    border: solid 0px;
    border-radius: 10px;
    cursor: pointer;
}

#history_button {
    margin-left: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 15px;
    background-color: var(--accent);
    font-family: "Lexend Tera", sans-serif;
    color: var(--text);
    font-size: 20px;
    border: solid 0px;
    cursor: pointer;
}