:root {
  --container: #132D46;
  --bg-color: #1A1E29;
  --text: #FFF;
  --accent: #01C38E;
  --shadows: 0 0 20px rgba(0, 223, 154, 0.3),
             0 0 80px rgba(0, 223, 154, 0.4);
  --dark-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  --button-shadow: 0 0 8px rgba(0, 223, 154, 0.5),
            0 0 16px rgba(0, 223, 154, 0.6),
            0 0 24px rgba(0, 223, 154, 0.7);
  --hover-button: #0b3f34;
  --back-button-shadow:
    0 0 8px rgba(134, 16, 16, 0.5),
    0 0 16px rgba(134, 16, 16, 0.6),
    0 0 24px rgba(134, 16, 16, 0.7);

  --hover-back-button:#520a0a;
  --highlight: #007bff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #1A2235 0%, #2A3F5F 50%, 
  #01C38E 140%);
  font-family: "IBM Plex Mono", monospace;
  color: var(--text);
  overflow-x: hidden;
  background-size: cover;
}

.container {
  min-height: 100vh;
}

.icon {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon img {
  margin-top: 4.5%;
  position: absolute;
  width: 13%;
  height: 150px;
  margin-left: -2.5%;
  z-index: 1;
}

.icon h4 {
  position: absolute;
  margin-top: 4.2%;
  margin-left: 7%;
  font-family: "Lexend Tera", sans-serif;
  color: white;
  z-index: 1;
}

.top-nav-bar {
  background-color: transparent;
  overflow: hidden;
  font-style: "sans-serif";
  position: relative;
  z-index: 2;
}

.top-nav-bar a {
  float: right;
  color: rgb(69, 68, 68);
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
  font-family: "Lexend Tera", sans-serif;
  font-size: 15px;
  margin-right: 0;
  color: white;
  transition: all 0.3s ease;
  margin-top: 0.5%;
}

.contact:hover, .about:hover, .home:hover {
  transform: translateY(-3px);
  color: var(--accent);
  border-bottom: 2px solid;
}

#login_button {
  font-family: "IBM Plex Mono", monospace;
  font-size: 15px;
  padding: 7px 20px;
  border: none;
  background-color: var(--accent);
  color: var(--text);
  border-radius: 50px;
  transition: transform 0.2s ease;
  margin-top: -13%;
}

#login_button:hover{
  transform: translateY(-3px);
  cursor: pointer;
  font-weight: bold;
  background-color: #017A5E;
  background-color: var(--hover-button); 
  box-shadow: var(--button-shadow);
}

.contact-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 60px;
  padding: 40px;
}

.contact-form {
  background-color: var(--container);
  box-shadow: var(--shadows);
  border-radius: 20px;
  padding: 40px 40px;
  height: 550px;
  width: 70%;
  max-width: 600px;
  margin-top: -6%;
  margin-left: 14%;
}

.heading-form {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Lexend Tera", sans-serif;

}

.name-div, .email-div, .phone-number-div, .comment-div {
  margin-bottom: 20px;
}

#name_input, #email_input, #number_input, #comment_input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 3px solid var(--text);
  background-color: transparent;
  color: var(--text);
  outline: none;
  font-size: 16px;
}

#comment_input {
  height: 150px;
  border: 2px solid var(--text);
  resize: none;
}

::placeholder {
  color: var(--text);
  font-family: "Inter", monospace;
}

#submit_button {
  text-align: center;
  font-family: "Inter", monospace;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: large;
  background-color: var(--accent);
  color: var(--text);
  display: block;
  margin: 20px auto 0;
  cursor: pointer;
  border: none;
  transition: transform 0.2s ease;
}

#submit_button:hover {
  font-family: "Inter", monospace;
  transform: translateY(-3px);
  background-color: #017A5E;
  background-color: var(--hover-button); 
  box-shadow: var(--button-shadow);
}

.logo-design-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-top: -28%;
  margin-left: -5%;
}

.logo-container img {
  width: 130%;
  height: 700px;
  margin-top: -10%;
  margin-left: -15%;
}

.content-container {
  text-align: center;
  margin-top: -35%;
}

.bank-name {
  font-family: "Inter", sans-serif;
  font-size: 70px;
  font-weight: bold;
}

.line-container {
  height: 2px;
  width: 120%;
  margin: 10px auto;
  background-color: var(--text);
  margin-left: -10%;
}

.slogan {
  font-size: 16px;
  font-family: "Inter", monospace;
  margin-top: 10px;
}

#back_button {
  font-family: "IBM Plex Mono", monospace;
  font-size: 15px;
  padding: 10px 30px;
  border: solid 0px;
  background-color: #861010;
  color: white;
  border-radius: 50px;
  transition: all 0.3s ease;
    
}

#back_button:hover {
  transform: translateY(-3px);
  cursor: pointer;
  font-weight: bold;
  background-color: var(--hover-back-button);
  box-shadow: var(--back-button-shadow);
}