:root {
  --container: #141B2A;
  --bg-color: #1A1E29;
  --text: #FFF;
  --form-bg: #122742;
  --accent: #01C38E;
  --danger: #F65354;
  --shadows: 0 0 1.25rem rgba(0, 223, 154, 0.3),
             0 0 5rem rgba(0, 223, 154, 0.4);
  --button-shadow: 0 0 8px rgba(0, 223, 154, 0.5),
            0 0 16px rgba(0, 223, 154, 0.6),
            0 0 24px rgba(0, 223, 154, 0.7);
  --hover-button: #0b3f34;

  --back-button-shadow: 0 0 8px rgba(134, 16, 16, 0.5),
            0 0 16px rgba(134, 16, 16, 0.6),
            0 0 24px rgba(134, 16, 16, 0.7);

  --hover-back-button:#520a0a;

  --dark-shadow: 0 0.5rem 0.9375rem rgba(0, 0, 0, 0.2);
  --highlight: #007bff;
  --container-bg: #132D46;
  --text-primary: #FFF;
  --text-secondary: #CCC;
  --accent-color: #01C38E;
  --shadow-glow: 0 0 20px rgba(0, 223, 154, 0.3),
                  0 0 80px rgba(0, 223, 154, 0.4);
}

* {
    margin: 0;
    padding: 0px;
}

.icon img {
    position: relative;
    height: 80px;
    width: 80px;
    padding: 0px;
    justify-content: center;
}

a {
    text-decoration: none;
}

body {
    background-color: #1A2235;
}

.input-with-icon {
    position: relative;
    display: inline-block;
    width: 50%;
    margin-top: 5px;
}

#account_id {
    margin-top: 10px;
    width: 50%;
    border: solid 0px;
    border-radius: 5px;
    padding: 5px;
    height: 20px;
}

.input-with-icon input {
    border: solid 0px;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    height: 25px;
    box-sizing: border-box;
}

.toggle-password-btn {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 16px;
}

.re-password-label {
    color: white;
    font-family: "Lexend Tera", sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.account-id-label, .new-password-label, .confirmation-password-label {
    margin-top: 3%;
    color: white;
    font-family: "IBM Plex Mono", monospace;
    font-size: 20px;

}

.reset-password-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.reset-password-border {
    margin-top: 10%;
    border: solid 0px;
    width: 500px;
    background-color: #132D46;
    border-radius: 20px;
    box-shadow: 0 0 50px #01C38E;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.button-container {
    display: flex;
    margin-top: 2rem;
    gap: 3rem;
    justify-content: center;
}

#submit_button {
    font-family: "IBM Plex Mono", monospace;
    font-size: 15px;
    padding: 7px;
    width: 100px;
    border: solid 0px;
    background-color: #01C38E;
    color: white;
    border-radius: 50px;
}

#submit_button:hover {
    font-weight: bold;
    cursor: pointer;
    background-color: var(--hover-button);
    box-shadow: var(--button-shadow);
    outline: #017A5E;
    transition: all 0.3s ease;
    transform: translateY(-3px);

}

a {
    text-decoration: none;
    color: white;
}

#cancel_button {
    font-family: "IBM Plex Mono", monospace;
    font-size: 0.9375rem;
    padding: 0.4375rem;
    width: 6.25rem;
    border: solid 0px;
    background-color: #861010;
    color: var(--text);
    box-shadow: 0 5px 15px rgba(5, 1, 1, 0.4);
    border-radius: 3.125rem;
}

#cancel_button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px  #610d0d;
    background-color:   #861010;
    transform: translateY(-3px);
}

@media (max-width: 600px) {
    .thank-you-border {
        width: 90%;
        margin-bottom: 3%;
    }

    .icon h4 {
        margin-top: 5%;
        margin-left: 15%;
    }
}