:root {
    --container: #141B2A;
    --bg-color: #1A1E29;
    --text: #FFF;
    --accent: #01C38E;
    --container2: #132D46;
    --shadow: 0 0 20px rgba(0, 223, 154, 0.3),
              0 0 80px rgba(0, 223, 154, 0.4);
    --button-shadow: 0 0 8px rgba(0, 223, 154, 0.5),
            0 0 16px rgba(0, 223, 154, 0.6),
            0 0 24px rgba(0, 223, 154, 0.7);
    --hover-button: #0b3f34;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4% auto 0;
}

.line-container {
    padding: 0.2%;
    background-color: var(--text);
    margin-right: 30%;
    margin-left: 10%;
}

.bank-name {
    color: var(--text);
    font-family: "Inter", sans-serif;
    font-size: 4rem;
    text-align: center;
    font-weight: bolder;
    padding-right: 20%;
}

.slogan-container {
    margin-top: 2%;
    color: var(--text);
}

.slogan {
    margin-top: 2;
    text-align: center;
    font-size: large;
    font-family: "Inter", monospace;
    padding-right: 20%;
}

.logo-container {
    margin-top: -20%;
    margin-left: -15%;
}

.logo-display {
    width: 120%;
    height: auto;
}

.content-container {
    margin-top: -35%;
    margin-left: 24%;
}

.login-form-container {
    margin-top: 13%;
    margin-left: 10%;
    margin-bottom: -10%;
    width: 65%;
    height: 90%;
    background-color: var(--container2);
    border-radius: 30px;
    box-shadow: var(--shadow);
    padding: 5px;
}

.welcome-message {
    color: var(--text);
    font-family: "Lexend Tera", sans-serif;
    margin-top: 2%;
    margin-left: 22%;
    font-size: 250%;
}

.text-content-container {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    font-size: 100%;
    text-align: center;
    font-family: "Inter", monospace;
}

.text-content, .account-id-label, .password-label {
    color: var(--text);
    font-family: "Inter", monospace;

}

.account-id-container {
    margin-top: 10%;
    margin-left: 10%;
}

.account-id-input, .password-input {
    border-radius: 5px;
    width: 90%;
    height: 40px;
    border: solid 0px;
}

.password-container {
    margin-top: 8%;
    margin-left: 10%;
}

.button-container {
    margin-top: 7%;
    text-align: center;
}

.button {
    font-size: 15px;
    border: solid 0px;
    width: 40%;
    height: 40px;
    padding: 7px;
    border-radius: 20px;
    background-color: var(--accent);
    color: var(--text);
    font-family: "Inter", monospace;
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button:hover {
    font-family: "IBM Plex Mono", monospace;
    font-size: 15px;
    padding: 7px;
    width: 150px;
    height: 40px; 
    border: solid 0px;
    color: var(--text);
    border-radius: 20px; 
    background-color: var(--hover-button); 
    box-shadow: var(--button-shadow);
    transform: translateY(-2px); 
}

.signup-container {
    font-family: "Inter", monospace;
    margin-top: 5%;
    text-align: center;
}

.signup-link {
    color: var(--text);
}

.hyper-link {
    text-decoration: none;
    color: white;
}

.hyper-link:hover {
    color: #01C38E;
    text-shadow: 0 0 30px #065b44;
    transition: all 0.3s ease;
}