:root {
    --container: #141B2A;
    --bg-color: #1A1E29;
    --text: #FFF;
    --accent: #01C38E;
    --container2: #132D46;
    --shadow: 0 0 20px rgba(0, 223, 154, 0.3),
              0 0 80px rgba(0, 223, 154, 0.4);
    --button-shadow: 0 0 8px rgba(0, 223, 154, 0.5),
            0 0 16px rgba(0, 223, 154, 0.6),
            0 0 24px rgba(0, 223, 154, 0.7);
    --hover-button: #0b3f34;

    --back-button-shadow:
    0 0 8px rgba(134, 16, 16, 0.5),
    0 0 16px rgba(134, 16, 16, 0.6),
    0 0 24px rgba(134, 16, 16, 0.7);

    --hover-back-button:#520a0a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A2235;
    font-family: "Lexend Tera", sans-serif;
}

.top-nav-bar {
    background-color: #1A1E29;
    overflow: hidden;
}

.top-nav-bar a {
    float: right;
    text-align: center;
    padding: 20px 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.icon img {
    margin-top: 5px;
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 2%;
}

.icon h4 {
    position: absolute;
    margin-top: 2%;
    margin-left: 7%;
    color: white;
}

a {
    text-decoration: none;
}

#back_button {
    font-family: "IBM Plex Mono", monospace;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #861010;
    color: white;
    border-radius: 50px;
    transition: all 0.3s ease;
}

#back_button:hover {
    transform: translateY(-3px);
    cursor: pointer;
    font-weight: bold;
    background-color: var(--hover-back-button);
    box-shadow: var(--back-button-shadow);
}

.close-account-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-account-border {
    padding: 30px;
    margin-top: 7%;
    width: 607px;
    height: auto;
    background-color: var(--container2);
    border-radius: 20px;
    box-shadow: 0 0 50px var(--accent);
}

.close-account-label {
    margin-bottom: 30px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.account-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.account-id-label {
    align-self: flex-start;
    color: white;
    font-size: 16px;
    margin-left: 20%;
    margin-bottom: 5px;
}

#account_id,
#closure_reason {
    width: 60%;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.button-container {
    margin-top: 5%;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 5%;
}

#cancel {
    border: none;
    padding: 10px;
    width: 25%;
    background-color: #861010;
    color: white;
    font-family: "Lexend Tera", sans-serif;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(5, 1, 1, 0.4);
    cursor: pointer;
    transition: all 0.3s ease;
}

#submit {
    border: none;
    padding: 10px;
    width: 25%;
    background-color: var(--accent);
    color: white;
    font-family: "Lexend Tera", sans-serif;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(5, 1, 1, 0.4);
    transition: all 0.3s ease;
}

#cancel:hover {
    transform: translateY(-3px);
    background-color: var(--hover-back-button);
    box-shadow: var(--back-button-shadow);
    font-weight: bold;
}

#submit:hover {
    cursor: pointer;
    background-color: #076b51;
    box-shadow: 0 0 20px var(--accent);
}